body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}

header {
    background-color: #4784d8;
    color: white;
    text-align: center;
    padding: 1em;
}

#invoiceInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 1em;
}

.infoSection {
    background-color: #f2f2f2;
    padding: 1em;
    border-radius: 5px;
}

main {
    padding: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.total {
    font-weight: bold;
    background-color: #f5f8c7;
    color: rgb(0, 0, 0);
}

.total_row {
    font-weight: bold;
    background-color: #557fba;
    color: rgb(0, 0, 0);
}

button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #4784d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #316cbe;
}